body {
    background: #F8F8F8;
    color: #343843;
    position: relative;
    font-family: 'Roboto';
}

a:hover {
    text-decoration: none;
}

*,
button:focus {
    outline: 0;
}

.dropdown-toggle::after {
    height: 6px;
    width: 6px;
    border: 1px solid white;
    border-width: 1px 1px 0 0;
    transform: rotate(135deg);
}

.header-top {
    height: 44px;
    background: #1A2B48;
    padding-top: 7px;
}

.header-top a {
    margin-right: 24px;
}

.header-top button {
    border: 1px solid #FFFFFF;
    border-radius: 150px;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: white;
    background: transparent;
    padding: 5px 20px;
    cursor: pointer;
}

.header-menu {
    background: rgba(255, 255, 255, 0.9);
    height: 86px;
    padding: 15px 0;
    /* position: sticky; */
    /* top: -1px; */
    /* z-index: 2; */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}

.header-top a.btn-login,
.header-top .dropdown a.dropdown-toggle {
    color: white;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.header-menu-inner {
    display: flex;
    justify-content: space-between;
}

.header-menu .logo {
    height: 56px;
}

.nav-menu {
    display: flex;
}

.nav-menu .nav-menu-item {
    padding: 20px 30px;

    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
    color: #343843;
}

.nav-menu .nav-menu-item.active,
.nav-menu .nav-menu-item:hover {
    color: #FF9332;
}

.banner {
    min-height: 686px;
    padding-top: 126px;
    background-position: center;
    background-size: cover;
}

.banner h1 {
    color: #FFFFFF;
    font-weight: 200;
    font-size: 80px;
    line-height: 94px;
    text-align: center;
}

.banner h1 b {
    display: block;
    font-weight: 500;
    color: white;
    margin-bottom: 16px;
}

.banner h3 {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 116px;
}

.banner .input-search {
    max-width: 100%;
    width: 852px;
    display: flex;
    height: 60px;
    background: #FFFFFF;
    border-radius: 204px;
    margin: 0 auto;
}

.banner .input-search img {
    width: 20px;
    margin: auto 20px;
}

.banner .input-search input {
    width: 100%;
    border: 0;

    font-style: italic;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
}

.banner .input-search input:focus {
    outline: 0;
}

.banner .suggest {
    color: white;
    margin: 0 auto;
    margin-top: 11px;
    max-width: 100%;
    width: 852px;
    padding-left: 50px;
}

.banner .suggest a {

    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
    line-height: 16px;
    cursor: pointer;
}

.page {
    padding-top: 75px;
}

.page .sub-title {

    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 24px;
    margin-top: 13px;
}

.page h3 {

    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.page .underline {
    height: 11px;
    width: 83px;
    margin: 0 auto;
    background: url(../img/underline.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.page-menu {
    margin-top: 30px;
    margin-bottom: 30px;
}

.page-menu a {

    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 44px;
    display: inline-block;
}

.page-menu a.active {
    font-weight: 500;
    color: #FF9332;
}

.book-item {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    position: relative;
    margin: 0 15px;
}

.book-item:hover .book-item-btn {
    opacity: 1;
    transition: all 0.1s ease-in;
}

.book-item-fav {
    position: absolute;
    top: 0;
    z-index: 1;
    right: 0;
}

.book-item-img {
    position: relative;
    height: 200px;
}

.book-item-img>img {
    object-fit: cover;
    object-position: center;
    height: 200px;
    width: 100%;
}

.book-item-btn {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    height: 100%;
    padding-top: 120px;
    background: #0005;
}

.book-item-btn button {
    display: block;
    height: 30px;
    background: #FF9332;
    border-radius: 103px;
    border: 0;

    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #FFFFFF;
    width: 150px;
    margin: 0 auto;
    cursor: pointer;
}

.book-item-btn img {
    display: inline-block !important;
}

.book-item-location {

    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    padding: 9px;
    margin: 0;
}

.book-item-location img {
    margin-right: 6px;
    vertical-align: top;
    display: inline-block !important;
}

.book-item h4 {
    font-size: 18px;
    line-height: 21px;
    margin: 4px;
    margin-left: 9px;
    color: #343843;
}

.book-item-rate {
    display: flex;
    align-items: center;

    font-weight: 300;
    font-size: 12px;
    margin-left: 9px;
    line-height: 14px;
}

.book-item-rate span {
    margin-left: 5px;
}

.book-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 9px;
    padding-top: 0px;
}

.book-item-time {

    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}

.book-item-time img {
    display: inline-block !important;
    vertical-align: top;
}

.book-item-price p {

    font-weight: 200;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    margin: 0;
    text-decoration: line-through;
}

.book-item-price h5 {

    font-weight: 500;
    font-size: 18px;
    margin: 0;
    line-height: 21px;
    text-align: right;
    color: #FF9332;

}

.quangcao {
    margin-top: 60px;
}

.news {
    padding-top: 60px;
}

.news-item {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    position: relative;
    margin: 0 15px;
}

.news-item h5 {

    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #343843;
    margin-top: 6px;
    text-align: left;
}

.news-item .img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;

}

.news-item-location {

    font-size: 12px;
    line-height: 14px;
    color: #FF9332;
}

.news-item-location img {
    display: inline-block !important;
    margin-right: 5px;
    vertical-align: text-bottom;
}

.news-item-content {
    padding: 9px 11px;
}

.news-item-content p {

    font-size: 14px;
    line-height: 16px;
    opacity: 0.5;
}

.news-item-content a {
    font-size: 12px;
    line-height: 14px;
    color: #FF9332;
    display: block;
    text-align: right;
}

.customer-item {
    position: relative;
    margin: 0 15px;
}

.customer-item-rate img {
    display: inline-block !important;
}

.customer-item-content {
    margin-top: 20px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 30px;

}

.customer-item-content::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 33px;
    top: 29px;
    left: -10px;
    background: url(../img/quote.svg);


}

.customer-item-content::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 36px;
    left: 15px;
    border-top: 20px solid white;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.customer-item-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin: 0;


}

.more-content {
    background: #1A2B48;
    padding: 51px 23px;
    min-height: 390px;
}

.more-content p {
    color: white;

    font-size: 18px;
    line-height: 21px;
}

.more {
    padding-bottom: 150px;
}

footer {
    background: #FF9332;
    padding: 50px 0;
}

footer h4 {

    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

footer ul {
    padding-inline-start: 20px;
    list-style: none;
}

footer ul li::before {
    content: "\2022";
    color: white;
    font-weight: bold;
    display: inline-block;
    margin-left: -20px;
    margin-top: -5px;
    position: absolute;
}


footer a {

    font-size: 14px;
    line-height: 16px;
    display: block;
    margin-bottom: 21px;

    color: #FFFFFF;
}

footer a:hover {
    color: #ffffff;
}

footer p {

    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    font-weight: 300;

    color: #FFFFFF;
}

footer strong {

    font-weight: 500;
}

footer button {

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 159px;
    width: 100%;
    background: transparent;


    font-weight: 300;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
    height: 30px;
    margin: 20px 0;

}

footer button:hover {
    background: white;
    color: #FF9332;
    cursor: pointer;
}

footer input {
    margin-top: 20px;
    appearance: none;
    border: 0;
    border-bottom: 1px solid white;
    background: none;
    height: 30px;
    width: 100%;
    display: block;

    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    color: white;

}

footer input::placeholder {
    color: white;
}

.slick-dots {
    list-style: none;
    text-align: center;
    padding-inline-start: 0;
    display: none;
}

.slick-dots li {
    display: inline-block;
}

.slick-dots li button {
    font-size: 0;

    width: 9px;
    height: 9px;
    appearance: none;
    border: 0;
    padding: 0;
    border-radius: 10px;
    margin: 5px;
}

.slick-dots li.slick-active button {
    background: #FF9332;

}

.page .slick-list {
    margin: 0 -15px;
}


.login {
    background-image: url(/assets/img/bg-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 74px 10px;
}

.login .form {
    width: 591px;
    /* min-height: 735px; */
    background: #FFFFFF;
    padding: 35px 43px;
    margin: 0 auto;
}

.login h3 {

    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: left;
}

.login p.login-sub {

    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    min-height: 78px;
    opacity: 0.5;
}

.login .btn-google,
.login .btn-facebook {

    height: 55px;
    width: 100%;
    background: #1877F2;
    border-radius: 98px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-left: 20px;
}

.login .btn-google {
    background: #EA4335;
    padding-left: 10px;
}

.login .btn-google img,
.login .btn-facebook img {
    margin-right: 5px;
    height: 27px;
}

.login .login-or {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    /* opacity: 0.5; */
    text-align: center;
    margin-top: 57px;
    color: #34384350;
    position: relative;
    background: white;
    z-index: 2;
    padding: 0 20px;
    display: inline-block;
}

.login .login-or-line {
    margin-top: -25px;
    margin-bottom: 35px;
    z-index: 1;
    position: relative;
}

.login .tabs {
    display: flex;
}

.login .tabs .tab {
    flex: 1;
    display: flex;
    text-align: center;

    font-weight: 300;
    font-size: 18px;
    align-items: center;
    line-height: 21px;
    justify-content: center;
    height: 40px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.login .tabs .tab img.img-active {
    display: none;
}

.login .tabs .tab.active {
    color: #FF9332;
    border-color: #FF9332;
    font-weight: 500;
}

.login .tabs .tab.active img {
    display: none;
}

.login .tabs .tab.active img.img-active {
    display: inline-block;
}

.login .input-group {
    display: flex;
    border-bottom: 0.5px solid #00000030;
    margin-top: 30px;
}

.login .input-group select,
.login .input-group input {
    /* width: 100%; */
    flex: 1;
    border: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 20px;
}
.login input[type=checkbox]{
    height: 23px;
    width: 23px;
    font-size: 23px;
}
.login .btn-submit {
    height: 55px;
    background: #FF9332;
    border-radius: 98px;
    width: 100%;
    display: block;
    border: 0;

    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;

    margin-bottom: 17px;

}

.login .btn-submit-outline{

font-weight: normal;
    background: white;
    border: 1px solid #FF9332;
    color: #FF9332;
}

.login .login-foot {
    text-align: center;
    margin-top: 41px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 0;
}

.login .login-foot a {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #343843;
    text-decoration: underline;
}

.login a {

    color: #343843;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-decoration: underline;
}

.login label {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 0;
    vertical-align: top;
    line-height: 23px;
}

@media only screen and (max-width: 768px) {
    .slick-dots {
        display: block;
    }

    .header-top {
        height: 50px;
        padding-top: 12px;
    }

    .header-top button {
        font-size: 14px;
        line-height: 16px;
        height: 25px;
    }

    .header-menu {
        padding-top: 11px;
        height: 65px;
    }

    .header-menu .logo {
        height: 40px;
    }

    .nav-menu {
        display: none;
    }

    .page.more {
        display: none;
    }

    .header-menu-inner {
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .menu-mobile {
        position: absolute;
        left: 14px;
    }

    .banner {
        padding-top: 54px;
        padding-bottom: 24px;
        min-height: auto;
    }

    .banner h1 {

        font-size: 41.81px;
        line-height: 49px;
    }

    .banner h3 {
        font-weight: 300;
        font-size: 12.543px;
        line-height: 15px;
        margin-bottom: 37px;
    }

    .banner .input-search {
        height: 45px;
    }

    .banner .suggest {
        padding-left: 20px;

        font-size: 14px;
        line-height: 16px;
    }

    .banner .suggest {
        font-size: 14px;
        line-height: 16px;

    }

    .page {
        padding-top: 24px;
    }

    .page h3 {

        font-size: 24px;
        line-height: 28px;
    }

    .header-top a {
        margin-right: 10px;

    }

    .header-top a.btn-login,
    .header-top .dropdown a.dropdown-toggle {

        font-size: 14px;
        line-height: 16px;

    }

    .page-menu {
        white-space: nowrap;
        overflow: auto;
    }

    .page-menu a {
        font-size: 16px;
        line-height: 19px;
        margin-right: 26px;
        padding-bottom: 10px;
    }

    .book-item {
        margin: 0 15px;
        width: 255px;
    }

    .news-item {
        margin: 0 5px;
        width: 350px;
    }

    .footer-last {
        width: 80%;
    }

    footer {
        padding-left: 15px;
        padding-right: 15px;
    }

    .page .slick-list {
        margin: 0;
    }

    .nav-menu {
        position: absolute;
        top: 0;
        width: 235px;
        background: white;
        left: 0;
        z-index: 2;
    }

    .nav-menu::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #0004;
        z-index: -1;
        pointer-events: none;
    }

    .nav-menu .nav-menu-header {
        padding: 32px 0;
        text-align: center;
        background: #FF9332;
        position: relative;
    }

    .nav-menu img {
        margin-right: 14px;
        width: 18px;
    }

    .nav-menu .nav-menu-header .btn-close {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .nav-menu .nav-menu-header h3 {

        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: white;
        margin: 0;
    }

    .nav-menu a {
        display: block;
        width: 100%;
        background: white;
    }
}