body {
    background: #F8F8F8;
    color: #343843;
    /* position: relative; */
    font-family: 'Roboto';
}

a:hover {
    text-decoration: none;
}

.pointer {
    cursor: pointer;
}

.rotate-90 {
    transform: rotate(90deg);
}

*,
button:focus {
    outline: 0;
}

.fw-normal {
    font-weight: normal !important;
}

.dropdown-toggle::after {
    height: 6px;
    width: 6px;
    border: 1px solid white;
    border-width: 1px 1px 0 0;
    transform: rotate(135deg);
}

.header-top {
    height: 44px;
    background: #1A2B48;
    padding-top: 7px;
}

.header-top a {
    margin-right: 24px;
}

.header-top button {
    border: 1px solid #FFFFFF;
    border-radius: 150px;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: white;
    background: transparent;
    padding: 5px 20px;
    cursor: pointer;
}

.header-menu {
    background: rgba(255, 255, 255, 0.9);
    height: 55px;
    padding: 0px 0;
    /* position: sticky; */
    /* top: -1px; */
    z-index: 2000;
    position: relative;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}

.header-top a.btn-login,
.header-top .dropdown a.dropdown-toggle {
    color: white;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.header-menu-inner {
    display: flex;
    justify-content: space-between;
}

.header-menu .logo {
    height: 47px;
}

.nav-menu {
    display: flex;
}

.nav-menu .nav-menu-item {
    padding: 17px 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
    color: #343843;
    position: relative;
    /* background: white; */
    /* display: inline-block; */
}

.nav-menu .nav-menu-item:hover .sub-menus {
    max-height: 300px;
    transition: all .3s ease-in-out;
    overflow: auto;
}

.sub-menus {
    position: absolute;
    top: 55px;
    left: 0;
    min-width: 650px;
    max-width: 100%;
    background: white;
    max-height: 0;
    overflow: hidden;
}

.sub-menus.sub-menus-short {
    min-width: 300px;
    padding-left: 15px;
    padding-right: 15px;
}

.sub-menus.sub-menus-short a:first-child {

    margin-top: 20px;

}

.sub-menus p {

    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 24px;
    padding-top: 11px;
}

.sub-menus a {
    font-weight: 300;
    font-size: 18px;
    display: block;
    margin-bottom: 19px;
    color: #343843;
    line-height: 21px;
}

.sub-menus a.active,
.sub-menus a:hover {
    color: #FF9332;
}

.nav-menu .nav-menu-item:hover {
    background: #C4C4C430;
}

.nav-menu .nav-menu-item .link {
    color: #343843;
    flex: 1;
}

.nav-menu .nav-menu-item.active .link {
    color: #FF9332;
}

.banner {
    height: 520px;
    position: relative;
    /* display: contents; */
}

.banner .home-banner {
    position: absolute;
    width: 100%;
}

.banner .banner-img {
    height: 520px;
    background-position: center;
    background-size: cover;
}

.banner .banner-content {
    position: absolute;
    width: 100%;
    z-index: 1000;
    bottom: 100px;
}

.banner.tour {
    padding-top: 55px;
}

/* 
.banner h1 {
    color: #FFFFFF;
    font-weight: 200;
    font-size: 80px;
    line-height: 94px;
    text-align: center;
}

.banner h1 b {
    display: block;
    font-weight: 500;
    color: white;
    margin-bottom: 16px;
}
 */

.banner .banner-brand {
    width: 414px;
    height: 110px;
    background: #0005;
    padding: 14px 20px;
    display: flex;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 123px;
}

.banner .banner-brand h3 {
    font-weight: 500;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    margin: 0;
    margin-right: 10px;
}

.banner .banner-brand h3 a {

    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #FF9332;
}

.banner .banner-brand>div {
    align-items: center;
    justify-content: center;
    display: flex;

    width: 122px;
    height: 82px;
    background: white;
    padding: 0 11px;
}

.banner .input-search {
    max-width: 100%;
    width: 852px;
    display: flex;
    height: 60px;
    background: #FFFFFF;
    border-radius: 204px;
    margin: 0 auto;
}

.banner .input-search img {
    width: 20px;
    margin: auto 20px;
}

.banner .input-search input {
    width: 100%;
    border: 0;

    font-style: italic;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
}

.banner .input-search input:focus {
    outline: 0;
}

.banner .suggest {
    color: white;
    margin: 0 auto;
    margin-top: 11px;
    max-width: 100%;
    width: 852px;
    padding-left: 50px;
}

.banner .suggest a {

    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
    line-height: 16px;
    cursor: pointer;
}

.page {
    padding-top: 75px;
}

.page .sub-title {

    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 24px;
    margin-top: 13px;
}

.page h3 {

    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.page .underline {
    height: 11px;
    width: 83px;
    margin: 0 auto;
    background: url(../img/underline.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.page-menu {
    margin-top: 30px;
    margin-bottom: 30px;
}

.page-menu a {

    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 44px;
    display: inline-block;
    color: #343434;
}

.page-menu a.active {
    font-weight: 500;
    color: #FF9332;
}

.book-item {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    position: relative;
    margin: 0 15px;
    display: block;
}

.book-item:hover .book-item-btn {
    opacity: 1;
    transition: all 0.1s ease-in;
}

.book-item-fav {
    position: absolute;
    top: 0;
    z-index: 1;
    right: 0;
}

.book-item-img {
    position: relative;
    height: 200px;
}

.book-item-promo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: white;

    height: 50px;
    width: 50px;

    font-weight: 500;
    font-size: 12px;
    padding-top: 8px;
    line-height: 14px;
    padding-left: 5px;
    background-image: linear-gradient(to bottom right, #FF9332 0%, #FF9332 50%, transparent 50%, transparent 100%);
}

.book-item-img>img {
    object-fit: cover;
    object-position: center;
    height: 200px;
    width: 100%;
}

.book-item-btn {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    height: 100%;
    padding-top: 120px;
    background: #0005;
}

.book-item-btn a,
.book-item-btn button {
    display: block;
    height: 30px;
    background: #FF9332;
    border-radius: 103px;
    border: 0;

    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #FFFFFF;
    width: 150px;
    margin: 0 auto;
    cursor: pointer;
}

.book-item-btn a {
    padding-top: 6px;
    cursor: pointer;
}

.book-item-btn img {
    display: inline-block !important;
}

.book-item-location {

    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    padding: 9px;
    margin: 0;
}

.book-item-location img {
    margin-right: 6px;
    vertical-align: top;
    display: inline-block !important;
}

.book-item h4 {
    font-size: 18px;
    line-height: 21px;
    margin: 4px;
    margin-left: 9px;
    color: #343843;
}

.book-item-rate {
    display: flex;
    align-items: center;

    font-weight: 300;
    font-size: 12px;
    margin-left: 9px;
    line-height: 14px;
}

.book-item-rate span {
    margin-left: 5px;
}

.book-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 9px;
    padding-top: 0px;
}

.book-item-time {
    padding-bottom: 2px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}

.book-item-time img {
    display: inline-block !important;
    vertical-align: top;
}

.book-item-price p {

    font-weight: 200;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    margin: 0;
    text-decoration: line-through;
}

.book-item-price h5 {

    font-weight: 500;
    font-size: 18px;
    margin: 0;
    line-height: 21px;
    text-align: right;
    color: #FF9332;

}

#top-location {
    overflow: hidden;
    margin-top: 67px;
}

.location-item {
    position: relative;
    height: 350px;
    margin: 0 17.5px;
}

.location-item img {
    object-fit: cover;
    object-position: center;
    height: 350px;
    width: 100%;
}

.location-item .location-item-top {
    position: absolute;
    top: 0;
    padding: 11px 18px;
    width: 100%;
}

.location-item .location-item-bottom {
    position: absolute;
    background: #0005;
    width: 100%;
    padding: 11px 18px;
    bottom: 0;
}


.location-item p {
    margin: 0;
    display: block;
    color: white;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.location-item p.location-item-sub {

    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}

.location-item p.location-item-price {
    color: #FF9332;
}

.quangcao {
    margin-top: 60px;
}

.news {
    padding-top: 60px;
}

.news-item {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    position: relative;
    margin: 0 15px;
}

.news-item h5 {

    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #343843;
    margin-top: 6px;
    text-align: left;
}

.news-item .img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;

}

.news-item-location {

    font-size: 12px;
    line-height: 14px;
    color: #FF9332;
}

.news-item-location img {
    display: inline-block !important;
    margin-right: 5px;
    vertical-align: text-bottom;
}

.news-item-content {
    padding: 9px 11px;
}

.news-item-content p {

    font-size: 14px;
    line-height: 16px;
    opacity: 0.5;
}

.news-item-content a {
    font-size: 12px;
    line-height: 14px;
    color: #FF9332;
    display: block;
    text-align: right;
}

.customer-item {
    position: relative;
    margin: 0 15px;
}

.customer-item-rate img {
    display: inline-block !important;
}

.customer-item-content {
    margin-top: 20px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 30px;

}

.customer-item-content::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 33px;
    top: 29px;
    left: -10px;
    background: url(../img/quote.svg);


}

.customer-item-content::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 36px;
    left: 15px;
    border-top: 20px solid white;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.customer-item-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin: 0;


}

.more-content {
    background: #1A2B48;
    padding: 51px 23px;
    min-height: 390px;
}

.more-content p {
    color: white;

    font-size: 18px;
    line-height: 21px;
}

.more {
    padding-bottom: 150px;
}

footer {
    background: #FF9332;
    padding: 50px 0;
}

footer h4 {

    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

footer ul {
    padding-inline-start: 20px;
    list-style: none;
}

footer ul li::before {
    content: "\2022";
    color: white;
    font-weight: bold;
    display: inline-block;
    margin-left: -20px;
    margin-top: -5px;
    position: absolute;
}


footer a {

    font-size: 14px;
    line-height: 16px;
    display: block;
    margin-bottom: 21px;

    color: #FFFFFF;
}

footer a:hover {
    color: #ffffff;
}

footer p {

    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    font-weight: 300;

    color: #FFFFFF;
}

footer strong {

    font-weight: 500;
}

footer button {

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 159px;
    width: 100%;
    background: transparent;


    font-weight: 300;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
    height: 30px;
    margin: 20px 0;

}

footer button:hover {
    background: white;
    color: #FF9332;
    cursor: pointer;
}

footer input {
    margin-top: 20px;
    appearance: none;
    border: 0;
    border-bottom: 1px solid white;
    background: none;
    height: 30px;
    width: 100%;
    display: block;

    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    color: white;

}

footer input::placeholder {
    color: white;
}

.slick-dots {
    list-style: none;
    text-align: center;
    padding-inline-start: 0;
    display: none;
}

.slick-dots li {
    display: inline-block;
}

.slick-dots li button {
    font-size: 0;

    width: 12px;
    height: 12px;
    appearance: none;
    border: 0;
    padding: 0;
    border-radius: 10px;
    margin: 11px;
}

.slick-dots li.slick-active button {
    background: #FF9332;

}

.page .slick-list {
    margin: 0 -15px;
}


.login {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 74px 10px;
}

.login .form {
    width: 591px;
    /* min-height: 735px; */
    background: #FFFFFF;
    padding: 35px 43px;
    margin: 0 auto;
    max-width: 100%;
}

.login h3 {

    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: left;
}

.login p.login-sub {

    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    min-height: 78px;
    opacity: 0.5;
}

.login .btn-google,
.login .btn-facebook {

    height: 55px;
    width: 100%;
    background: #1877F2;
    border-radius: 98px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-left: 20px;
}

.login .btn-google {
    background: #EA4335;
    padding-left: 10px;
}

.login .btn-google img,
.login .btn-facebook img {
    margin-right: 5px;
    height: 27px;
}

.login .login-or {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    /* opacity: 0.5; */
    text-align: center;
    margin-top: 57px;
    color: #34384350;
    position: relative;
    background: white;
    z-index: 2;
    padding: 0 20px;
    display: inline-block;
}

.login .login-or-line {
    margin-top: -25px;
    margin-bottom: 35px;
    z-index: 1;
    position: relative;
}

.login .tabs {
    display: flex;
}

.login .tabs .tab {
    flex: 1;
    display: flex;
    text-align: center;

    font-weight: 300;
    font-size: 18px;
    align-items: center;
    line-height: 21px;
    justify-content: center;
    height: 40px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.login .tabs .tab img.img-active {
    display: none;
}

.login .tabs .tab.active {
    color: #FF9332;
    border-color: #FF9332;
    font-weight: 500;
}

.login .tabs .tab.active img {
    display: none;
}

.login .tabs .tab.active img.img-active {
    display: inline-block;
}

.login .input-group {
    display: flex;
    border-bottom: 0.5px solid #00000030;
    margin-top: 30px;
    align-items: center;
}

.login .input-group select,
.login .input-group input {
    /* width: 100%; */
    flex: 1;
    border: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 20px;
}

.login input[type=checkbox] {
    height: 23px;
    width: 23px;
    font-size: 23px;
}

.btn {
    height: 55px;
    border-radius: 98px;
    font-size: 18px;
    border: 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
}



a.btn {
    padding-top: 16px;
}

.btn.btn-primary,
.login .btn-submit {
    background: #FF9332;
    color: #FFFFFF;
    width: 200px;
}

.login .btn-submit {
    font-weight: 500;
    width: 100%;
    display: block;
    margin-bottom: 17px;
}

.btn.btn-xs {

    height: 29px;

    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: auto;
}

.btn.btn-sm {

    height: 41px;

    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    /* width: auto; */
}

.btn.btn-block {
    width: 100%;
}


.btn.btn-outline-primary,
.login .btn-submit-outline {

    font-weight: normal;
    background: transparent;
    border: 1px solid #FF9332;
    color: #FF9332;
}

.login .login-foot {
    text-align: center;
    margin-top: 41px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 0;
}

.login .login-foot a {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #343843;
    text-decoration: underline;
}

.login a {

    color: #343843;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-decoration: underline;
}

.login label {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 0;
    vertical-align: top;
    line-height: 23px;
}

.tabs {
    display: flex;
}

.tabs .tab {
    height: 40px;
    width: 160px;
    background: #fff5;
    text-align: center;
    padding-top: 12px;
    margin: 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}

.tabs .tab.active {
    background: white;
    color: #FF9332;
}

.form-search.stick-top {
    position: fixed;
    top: 0;
    width: 1110px;
    box-shadow: 5px 5px 5px #ccc2;
}

.form-search {
    background: white;
    height: 60px;
    display: flex;
    align-items: center;
}

.form-search .form-item {
    padding: 0px 14px;
    border-left: 1px solid #C4C4C4;
    flex: 1;
}

.form-search .form-item:first-child {
    border: 0;
    width: 150px;
}

.select2-container {
    height: 35px;
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    border: 0;
    height: 35px;
    padding-top: 2px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    font-weight: 300;
    font-size: 14px;
}

.select2-dropdown {
    min-width: 300px;
    width: 300px;
}

.select2-container--default .select2-results__group {

    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    background: #34384310;
}

.select2-container--open .select2-dropdown {
    left: -27px;
    top: 12px;
}

.form-search .form-item-group {
    display: flex;
    align-items: center;
    height: 41px;
    width: 100%;
}

.form-search .form-item-group img {
    height: 14px;
}

.form-search .form-item-group select {
    font-weight: 500;
    font-size: 18px;
    border: 0;
    padding: 10px;
    display: block;
}

.form-search .form-item-group input.datepicker {
    font-weight: 300;
    border-bottom: 0;
}

.form-search .form-item-group input {
    border: 0;
    border-bottom: 1px solid #C4C4C4;
    font-weight: 300;
    font-size: 14px;
    display: block;
    width: 100%;
    padding: 10px;
    line-height: 21px;
}

.form-search .form-item:last-child {
    border: 0;
}

.form-search .form-item label {
    white-space: nowrap;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 15px;

}

.modal .form-search {
    height: auto;
}

.input-quantity button {
    appearance: none;

    width: 25px;
    height: 25px;
    background: #FF9332;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    border: 0;
    color: white;
    border-radius: 13px;
    margin: 0 10px;
    cursor: pointer;
}

.input-quantity {
    text-align: center;
    width: 200px;
    height: 42px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    padding: 7px 0;
    margin: 0 -10px;
}

.result-tour {
    padding-top: 26px;

}

.result-tour h2 {
    margin: 0;
    text-align: left;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 34px;
}

.tour-item {
    margin-top: 25px;
    display: flex;
    min-height: 225px;
    background: white;
}

.tour-item-img {
    width: 316px;
    min-width: 316px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.tour-item-content {
    padding: 13px;
    flex: 1;
}

.tour-item-content p {

    font-weight: 300;
    font-size: 14px;
    color: #000000;
    margin-bottom: 9px;
    line-height: 16px;
}

.tour-item-content p img {
    vertical-align: top;
}

.tour-item-content button {
    width: 200px;
}

.tour-item-name {

    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.tour-item-price {

    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FF9332;
    margin-bottom: 18px;

}

.tour-item-location {
    margin-bottom: 5px;
}

.tour-item-location img {
    vertical-align: top;
}

.filter-item {
    padding: 12px 19px;
    margin-top: 22px;
    background: white;
    padding-right: 30px;
}

.filter-item h4 {

    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px;
}

.filter-item label {

    font-size: 14px;
    line-height: 16px;
}

.filter-item input[type=radio] {
    height: 16px;
    width: 16px;
}

.filter-item input[type=checkbox] {
    height: 15px;
    width: 15px;
    margin-right: 10px;
    vertical-align: middle;
}

.filter-item input[type=range] {
    width: 100%;
}

#slider-range {
    margin-top: 15px;
}

.filter-item .ui-widget.ui-widget-content {
    height: 3px;
}

.filter-item .ui-slider .ui-slider-handle {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #FF9332;
    border: 0;

}

.ui-slider-horizontal .ui-slider-range {
    border: 0;
    height: 3px;
    background: #FF9332;
}

#searchModal .modal-dialog {
    max-width: 1120px;
    margin-top: 170px;

}

.detail-banner {
    height: 450px;
    margin-bottom: 33px;
}

.detail-banner img {
    height: 450px;
    object-fit: cover;
}

.home-banner .slick-dots,
.detail-banner .slick-dots {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.home-banner .slick-dots li button,
.detail-banner .slick-dots li button {
    border: 1px solid white;
    background: transparent;
}

.home-banner .slick-dots li.slick-active button,
.detail-banner .slick-dots li.slick-active button {
    background: white;
}

.tour-detail {
    padding-top: 16px;
    background: #F8F8F8;
}

.detail-tour-map {
    margin-top: 29px;
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
}

.tour-detail hr {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 35px;
    margin-bottom: 35px;

    color: #343843;
}

.tour-detail h4 {

    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 19px;
    position: relative;
}

.tour-detail li,
.tour-detail p {

    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
}


.tour-detail-content ul {
    padding-inline-start: 20px;
    list-style: none;
}

.tour-detail-content ul li::before {
    content: "\2022";
    color: #1A2B48;
    font-weight: bold;
    display: inline-block;
    margin-left: -16px;
    margin-top: 0px;
    position: absolute;
}


.tour-detail strong {
    font-weight: 500;

}

.tour-detail h4::before {
    content: '';
    position: absolute;
    top: 24px;
    width: 20px;
    background: #FF9332;
    height: 2px;

}

.tour-detail-location {

    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 7px;
}

.tour-detail-name {
    margin-bottom: 0;

    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
}

.tour-detail-rate img {
    height: 17px;
    width: 17px;
}

.table-tour {
    border: 0;
}


.table-tour td {
    background: white;
}

.table-tour th {

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.table-tour tr {
    border: 0;
    border-color: #f8f8f8;
}

.table-tour tbody tr {
    border-top: 10px solid #f8f8f8
}

.table-tour td {
    vertical-align: middle;

    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.tour-book {
    position: sticky;
    top: 30px
}

.tour-book h5 {

    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding-left: 7px;
    margin-bottom: 7px;
}

.tour-book-total {
    display: flex;
    justify-content: space-between;
    padding: 11px 7px;
    margin-bottom: 12px;
    margin-top: 12px;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.tour-book-total p {
    margin: 0;
}

.tour-book-total p:last-child {

    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FF9332;
}

.tour-book-time {
    padding: 11px 7px;
    background: white;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    padding-right: 20px;
}

.tour-book-time span {
    flex: 1;
}

.tour-book-price {
    display: flex;

    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    padding: 7px;
    align-items: center;
}

.tour-book-prices {
    padding-top: 12px;
    padding-bottom: 12px;
    background: white;

}

.tour-book-price input {
    text-align: center;
    width: 22px;
    border: 0;
    margin: 0 16px;
    border-bottom: 0.5px solid #00000030;
}

.tour-book-price p {
    flex: 1;
    margin: 0;
}

.tour-book-price p:last-child {

    color: #FF9332;
    font-weight: 500;
}

.hotel-detail {
    background: #F8F8F8;
    padding-top: 16px;
}

.hotel-detail p {

    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
}

.hotel-detail strong {
    font-weight: 500;
}

.hotel-detail-warning {
    padding: 30px;
    background: rgba(255, 147, 50, 0.2);
    margin-bottom: 32px;
    margin-top: 18px;
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
}

.hotel-detail-warning img {
    margin-right: 20px;
}

.hotel-detail hr {
    margin-left: -15px;
    margin-right: -15px;
}

.hotel-detail-warning p {
    margin: 0;
    /* font-weight: 500; */
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}

.hotel-detail-warning p strong {
    font-weight: 500;
}

.hotel-detail h4 {

    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.hotel-detail .hotel-detail-label {

    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}

.hotel-detail-book {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #FFFFFF;
    margin-bottom: 33px;
    margin-top: 33px;
}

.hotel-detail-book label {

    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}

.hotel-detail-book p {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}

.hotel-detail-book h5 {

    padding-top: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FF9332;
}

.hotel-detail-book .col-md-4 {
    padding-left: 50px;
}

.hotel-detail-book button {
    margin-top: 20px;
}

.room-detail {
    padding-bottom: 35px;
    padding-top: 35px;
    border-bottom: 1px solid #34384330;
    margin-top: 10px;
}

.room-detail .room-detail-img {
    max-width: 100%;
    width: 316px;
    height: 255px;
    display: block;
}

.room-detail .room-detail-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: black;
    margin-bottom: 8px;
}

.room-detail .room-detail-view {
    color: black;
    max-width: 100%;

    font-style: italic;
    font-size: 14px;
    width: 316px;
    line-height: 16px;
    text-align: center;
    display: block;
    margin-top: 7px;
    cursor: pointer;
}

.room-detail .room-detail-info {

    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    padding-left: 40px;
}

.room-detail .room-detail-info img {
    position: absolute;
    left: 15px;
}

.room-detail .room-detail-promo {

    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FF9332;
    margin-bottom: 15px;
}

.room-detail .room-detail-price {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FF9332;
    margin-bottom: 0;
}

.room-detail .room-detail-price-raw {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-decoration: line-through;
    margin-bottom: 0;
}

.room-detail .room-detail-note {

    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 33px;
}

.hotel-detail-summary {
    padding: 17px 11px;
    background: #FFFFFF;
    margin-top: 35px;
}

.hotel-detail-summary strong {
    font-weight: 500;
}

.hotel-detail-summary p {
    margin-bottom: 5px;
}

.hotel-detail-summary li {
    margin-bottom: 11px;
}

.hotel-detail-summary p,
.hotel-detail-summary li {

    font-weight: 300;
    font-size: 14px;
    line-height: 16px;

    color: #000000;

}

.hotel-detail-summary button.btn {
    width: 200px;
}

.hotel-detail-summary ul {
    padding-inline-start: 20px;
}



@media only screen and (max-width: 992px) {
    .slick-dots {
        display: block;
    }

    .header-top {
        height: 50px;
        padding-top: 12px;
    }

    .header-top button {
        font-size: 14px;
        line-height: 16px;
        height: 25px;
    }

    .header-menu {
        padding-top: 11px;
        height: 65px;
    }

    .header-menu .logo {
        height: 40px;
    }

    .nav-menu {
        display: none;
    }

    .page.more {
        display: none;
    }

    .header-menu-inner {
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .menu-mobile {
        position: absolute;
        left: 14px;
    }

    .banner {
        padding-top: 0px;
        /* padding-bottom: 24px; */
        min-height: auto;
    }

    .page {
        padding-top: 24px;
    }

    .page h3 {

        font-size: 24px;
        line-height: 28px;
    }

    .header-top a {
        margin-right: 10px;

    }

    .header-top a.btn-login,
    .header-top .dropdown a.dropdown-toggle {

        font-size: 14px;
        line-height: 16px;

    }

    .page-menu {
        white-space: nowrap;
        overflow: auto;
    }

    .page-menu a {
        font-size: 16px;
        line-height: 19px;
        margin-right: 26px;
        padding-bottom: 10px;
    }

    .book-item {
        margin: 0 15px;
        width: 255px;
    }

    .news-item {
        margin: 0 5px;
        width: 350px;
    }

    .footer-last {
        width: 80%;
    }

    footer {
        padding-left: 15px;
        padding-right: 15px;
    }

    .page .slick-list {
        margin: 0;
    }

    .nav-menu .nav-menu-item {
        padding-left: 16px;
        padding-right: 16px;
        background: white;
    }

    .nav-menu .nav-menu-item .link {
        /* display: inline-block; */
        /* margin-left: 24px; */
        /* display: flex; */
    }

    .nav-menu .nav-menu-item:hover {
        background: white;
    }

    .nav-menu .nav-menu-item .sub-menus,
    .nav-menu .nav-menu-item:hover .sub-menus {
        max-height: initial !important;
        min-width: auto;
        position: relative;
        top: 0;
        padding-top: 20px;
        display: none;
    }

    .sub-menus.sub-menus-short {
        min-width: auto;
        top: 0;
        max-width: auto;
        padding-top: 20px;
    }

    .sub-menus.sub-menus-short a:first-child {
        margin-top: 0;
    }

    .sub-menus p {
        display: none;
    }

    .sub-menus a {
        margin-bottom: 9px;
        padding-left: 18px;
    }

    .nav-menu {
        position: fixed;
        top: 40px;
        width: 235px;
        background: white;
        left: 0;
        max-height: calc(100vh - 100px);
        overflow: auto;
    }

    .banner .banner-brand {
        width: 100%;
        position: absolute;
        bottom: 0;
        background: white;
        margin: 0;
        height: 50px;
        left: 0;
    }

    .banner .banner-img {
        position: relative;
    }

    .home-banner .slick-dots {
        bottom: 50px;

    }

    .detail-banner .slick-dots {
        bottom: 0px;
    }

    .banner .banner-brand h3 {
        flex: 1;
        color: #343843;

        font-size: 14px;
        line-height: 16px;
    }

    .banner .banner-brand>div {
        height: 50px;
    }

    .banner .banner-brand h3 a {

        font-size: 14px;
        line-height: 16px;
        display: block;
    }

    .nav-menu::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #0004;
        z-index: -1;
        pointer-events: none;
    }

    .nav-menu .nav-menu-header {
        padding: 32px 0;
        text-align: center;
        background: #FF9332;
        position: sticky;
        top: -1px;
        z-index: 1;

    }

    .nav-menu img {
        margin-right: 14px;
        width: 18px;
        /* position: absolute; */
    }

    .nav-menu img:last-child {
        margin-right: 0;
        margin-left: 24px;
    }

    .nav-menu .nav-menu-header .btn-close {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .nav-menu .nav-menu-header h3 {

        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: white;
        margin: 0;
    }

    .nav-menu a {
        display: block;
        width: 100%;
        background: white;
    }

    .header-top button {
        padding: 5px 12px;
    }

    .login .form {
        padding: 20px;
    }

    .form-search {
        flex-direction: column;
    }

    .form-search .form-item {
        width: 100%;
        border: 0;
    }

    .form-search .form-item label {
        margin: 0;
        display: none;
    }

    .form-search .form-item button {
        /* margin: 0 auto; */
        /* display: block; */
    }

    .input-quantity {
        margin: 0 -10px;
        text-align: left;
    }

    .tour-item {
        flex-direction: column;
        margin-left: -15px;
        margin-right: -15px;
    }

    .tour-item-img {
        width: calc(100% - 28px);
        height: 225px;
        margin: 14px;
        margin-bottom: 0;
    }

    .btn {
        height: 40px;
        font-size: 14px;
        line-height: 16px;
    }

    a.btn {
        padding-top: 12px;
    }

    .filter-tour {
        display: none;
        position: fixed;
        z-index: 2500;
        top: 80px;
        right: 0;
        background: #F8F8F8;
        min-width: 235px;
        max-height: calc(100vh - 150px);
        overflow: auto;
    }

    .filter-tour-header .close {
        float: left;
    }

    .filter-tour-header {
        position: sticky;
        top: 0;
        text-align: center;
        background: #FF9332;
        padding: 14px 10px;
        z-index: 4;
    }

    .filter-tour-header p {

        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        margin: 9px 0 23px 0;
    }

    .filter-tour-header button {

        height: 25px;
        border: 1px solid #FFFFFF;
        border-radius: 98px;

        font-size: 14px;
        line-height: 16px;

        color: #FFFFFF;
        width: 47%;
        background: transparent;

    }

    .filter-content {
        margin-top: -22px;
        background: #F8F8F8;
    }

    .filter-tour-bg {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #0004;
        z-index: -1;
    }

    .result-tour h2 {

        font-size: 18px;
        line-height: 21px;
        margin-bottom: 12px;
    }

    .tour-detail .detail-banner {
        margin-left: -15px;
        margin-right: -15px;
        height: 350px;
        margin-bottom: 23px;
    }

    .table-tour {
        margin-left: -15px;
        margin-right: -15px;
        width: calc(100% + 30px);
        max-width: calc(100% + 30px);
    }

    .table-tour tbody td,
    .table-tour thead th {
        padding-left: 23px;
    }

    .tour-detail .detail-banner img {
        height: 350px;
    }

    .tour-detail hr {
        margin-left: 0;
        margin-right: 0;
        margin-top: 33px;
        margin-bottom: 24px;
    }

    .detail-tour-map {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        height: 200px;
    }

    .room-detail .room-detail-view,
    .room-detail .room-detail-img {
        width: 100%;
    }

    .hotel-detail-book .col-md-3 {
        text-align: center;
    }

    .banner .banner-content {
        position: relative;
        padding-top: 47px;
        bottom: auto;
    }

    .form-search {
        height: auto;
    }

    .form-search .form-item:first-child,
    .form-search .form-item-group,
    .form-search .form-item {
        width: 100%;
    }

    .form-search .form-item-group {
        height: 50px;
        border-bottom: 0.5px solid #0003;
    }

    .tabs .tab {
        width: 100px;
    }
}